.modal-container {
    width: 50%;
    position: fixed;
    top: 20%;
    left: 25%;
    border: 1px solid grey;
    background: whitesmoke;
    z-index: 10;
}

.modal-title {
    display: block;
    color: rgba(112, 112, 112, 0.712);
    background-color: whitesmoke;
    
}

.modal-container-body p {
    background-color: rgba(177, 149, 116, 0.774);
    color: white;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 7px;
    
}

.fa-times-circle {
    cursor: pointer;
}

.fa-times-circle:hover {
    color: rgba(70, 55, 66, 0.63);
}